In [11]:
import pandas as pd
import os
import sqlite3
%config Completer.use_jedi = False #for auto complete code

In [12]:
def CreateDataBase(directory):
    files =[directory+file for file in os.listdir(directory)]
    table_names = ['T'+file.split('.')[0].split('_')[1] for file in os.listdir(directory)]

    conn = sqlite3.connect('../data/DZ/niveles.db')
    for i,file in enumerate(files):
        df = pd.read_excel(file,usecols='A:L')
        df.to_sql(name = table_names[i],con=conn, if_exists='replace',index=False)
        conn.commit()

    conn.close()

In [13]:
directory ='../data/DZ/DZ_04_LIMA_NIV/'
CreateDataBase(directory)

In [14]:
directory ='../data/DZ/DZ_09_SAN_MARTIN_NIV/'
CreateDataBase(directory)